<section class="component">
    <h3 id="avatar">Avatar</h3>
    <picture>
        <img class="avatar" src="./avatar.png" alt="Flower" width="48" height="48">
    </picture>
    <picture style="--window-background-color: #8820fe; margin-left: 2em;">
        <img class="avatar" src="./avatar.png" alt="Flower" width="48" height="48">
    </picture>
    <picture style="--window-background-color: #e16a33; margin-left: 2em;">
        <img class="avatar" src="./avatar.png" alt="Flower" width="48" height="48">
    </picture>
    <div style="margin-top: 100px; margin-left: 50px;">
        <div class="avatar-mask">
            <div class="mask-layer1">
                <div class="mask-layer2">
                    <img class="avatar" src="./avatar.png" alt="Flower" width="48" height="48">
                </div>
            </div>
        </div>
    </div>
</section>